@font-face {
  font-family: 'Acer';
  src: url(../font/AcerSupplement-wOpZ.ttf) format('truetype');
}

body {
  min-height: 100vh;
}

.container .acer {
  font-family: 'Acer';
  font-size: 3rem;
  color: #80c343;
}

.section-padding {
  padding: 100px 0;
}

/* Navbar */
nav {
  background-color: #f1fbff;
  height: 79px;
}
.navbar-nav a {
  color: #80c343;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #80c343;
}

/* Responsive CSS */
@media screen and (max-width: 576px) {
  .nav-item {
    text-align: center;
  }

  .profile-img {
    margin-left: -500px;
  }

  .profile-text {
    display: grid;
    margin-top: -100px;
    justify-content: space-around;
    grid-template-columns: 300px;
    text-align: center;
    margin-left: 80px;
  }

  .footer p {
    text-align: center;
  }
}

.search {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  text-align: center;
  width: 250px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid black;
}

.search {
  font-size: 20px;
  color: #f1fbff;
}

.search-icon {
  padding: 10px;
  color: black;
  cursor: pointer;
  margin-top: 5px;
}

/* Akhir Navbar */
