* {
  box-sizing: border-box;
}

.white {
  background-color: white !important;
}

.banner {
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/pic1.jpg);
  background-size: cover;
  background-position: center;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 80px;
  color: white;
}

.produk {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: red; */
}
