.container-1 {
  width: 500px;
  margin-left: 140px;
  margin-top: 120px;
}

.container-2 {
  width: 998px;
  margin: auto;
}

.container-2 h2 {
  margin-top: 50px;
}

.container-2 .table {
  margin-top: 40px;
}

.no-decoration {
  text-decoration: none;
}

form div {
  margin-bottom: 10px;
}
